/* sourced from https://codesandbox.io/p/sandbox/css-shooting-stars-animation-w96ut */

.body {
  overflow: hidden;
}

.span {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 10s linear infinite;
  animation-delay: 10s;
}
.span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 0.95;
  }
  6% {
    opacity: 0.2;
  }
  10% {
    transform: rotate(315deg) translateX(-900px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
 
}
.span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 17s;
  animation-duration: 10s;
}

.span:nth-child(2){
  top: 0;
  right: 80px;
  left:initial;
  animation-delay:5s;
  animation-duration: 30s;
}

.span:nth-child(3){
  top: 80px;
  right: -10px;
  left:initial;
  animation-delay:12s ;
  animation-duration: 20s;
}

.span:nth-child(4){
  top: 0;
  right: 180px;
  left:initial;
  animation-delay:10s;
  animation-duration: 15s;
}

.span:nth-child(5){
  top: 0;
  right: 400px;
  left:initial;
  animation-delay:4s;
  animation-duration: 25s;
}

.span:nth-child(6){
  top: 0;
  right: 600px;
  left:initial;
  animation-delay:20s ;
  animation-duration: 30s;
}
.span:nth-child(7 ){
  top: 300px;
  right: -10px;
  left:initial;
  animation-delay:7s ;
  animation-duration: 17.5s;
}

.span:nth-child(8){
  top: 0px;
  right: 700px;
  left:initial;
  animation-delay:17s ;
  animation-duration: 12.5s;
}

.span:nth-child(9){
  top: 0px;
  right: 1000px;
  left:initial;
  animation-delay:7.5s ;
  animation-duration: 22.5s;
}

.span:nth-child(10){
  top: 0px;
  right: 1000px;
  left:initial;
  animation-delay:2.75s ;
  animation-duration: 22.5s;
}
