/* .vertical-timeline-element-icon {
  color: white !important;
}

.vertical-timeline-element-title {
  font-weight: 700;
}

.vertical-timeline-element-date {
  color: white;
}

.vertical-timeline-element-date::after {
  color: black;
} */

.vertical-timeline-element-content {
  -webkit-box-shadow: 0 0 0 #ddd;
}